@use "./Variables.scss" as *;

.AllVideos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  iframe {
    width: 100vw;
    height: 50vh;
    margin-top: 100px;
  }
}

.blocDetails {
  display: flex;
  justify-content: space-between;
  font-family: $font-text;
  font-size: 0.6rem;
  button {
    background-color: $title-color;
    width: 80px;
    height: 40px;
    border: 2px $text-color-black solid;
    border-radius: 40px;
    color: $text-color-white;
    font-size: 0.6rem;
  }
}

.infosVideo {
  display: flex;
  flex-direction: column;
  p {
    padding: 5px 0;
    font-weight: bold;
  }
}

.voirPlus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  color: $title-color;
}

.buttonVP {
  border-radius: 50%;
  border: none;
  background-color: $text-color-white;
  animation: float 2s infinite;
  cursor: pointer;
}
.videoContainer.restricted {
  opacity: 0.5;
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 1024px) {
  .AllVideos {
    justify-content: space-evenly;
    iframe {
      width: 30vw;
      height: 50vh;
    }
  }

  .blocDetails {
    font-size: 0.7rem;
    button {
      font-size: 0.7rem;
    }
  }
}
