@use "./Variables.scss" as *;

.header {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.video-header {
  top: 0;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}
.filter-video {
  position: relative;
  z-index: 10;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    #000000d0 10%,
    #000000a4 16%,
    #00000039 100%
  );
}

// Hero slider

.hero-slider-wrapper {
  position: absolute;
  top: 0;
}

.hero-slider-previous-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 40vh;
  padding-bottom: 51vh;
  z-index: 15;
  background: transparent;
  text-decoration: none;
  color: orangered;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero-slider-next-button {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 51vh;
  padding-bottom: 40vh;
  z-index: 15;
  background: transparent;
  text-decoration: none;
  color: orangered;
  border: none;
  transform: rotate(180deg);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.hero-slider-next-button:hover,
.hero-slider-previous-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.text-hero-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 15;
  color: white;
  width: 100%;
  height: 80vh;
  font-size: 0.9rem;
  text-align: center;
  gap: 5px;
  justify-content: flex-end;
}
.span-decoration {
  background-color: $title-color;
  border-radius: 20px;
  padding: 3px;
}

// MenuBurger style
.sidenav {
  display: flex;
  justify-content: center;
  z-index: 16;
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  right: -50%;
  overflow: hidden;
  padding-top: 10px;
  transition: right 0.3s ease;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.sidenav.active {
  right: 0;
}

.sidenav a {
  font-family: "roboto";
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  display: block;
  text-decoration: none;
  text-decoration-color: #3a322c;
}
.sidenav a:hover {
  color: #746458;
}
.sidenav ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  list-style-type: none;
  margin-top: 100px;
  color: white;
  background-color: rgba(107, 40, 40, 0);
}
.sidenav ul li {
  background-color: rgba(107, 40, 40, 0);
}
.close {
  border: none;
  background-color: rgba(107, 40, 40, 0);
}
.sidenav .close {
  position: absolute;
  top: -20px;
  right: 10px;
  margin-top: 20px;
  font-size: 25px;
}

.menu-svg {
  position: absolute;
  z-index: 12;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.logo {
  position: absolute;
  z-index: 15;
  top: 0;
  width: 7rem;
  margin-left: 15px;
  background-color: rgba(107, 40, 40, 0);
}
.logo-cross {
  width: 5rem;
  background-color: rgba(107, 40, 40, 0);
}
.logo-burger {
  position: absolute;
  top: 0;
  z-index: 15;
  margin-right: 10px;
  right: 0;
  width: 4rem;
  background-color: rgba(107, 40, 40, 0);
}

@media only screen and (min-width: 1024px) {
  .burger-icon {
    display: none;
  }

  .background-video {
    display: none;
  }
  .header {
    height: 100vh;
  }
  .video-header {
    height: 100vh;
  }
  .filter-video {
    height: 100vh;
  }
  .hero-slider-next-button,
  .hero-slider-previous-button {
    padding-top: 47vh;
    padding-bottom: 46vh;
  }

  .sidenav {
    display: flex;
    position: static;
    width: auto;
    background-color: transparent;
    border-left: none;
    padding-top: 0;
    height: auto;
  }
  .sidenav ul {
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
    padding-right: 15px;
    color: white;
  }
  .text-hero-slider,
  .text-hero-slider1 {
    justify-content: flex-end;
    padding-left: 100px;
    padding-bottom: 50px;
    height: 96vh;
    width: 70%;
    font-size: 1.6rem;
  }

  .sidenav a {
    color: white;
  }
  .sidenav .close {
    display: none;
  }
  .logo {
    width: 9rem;
  }
}
