@use "./Variables.scss" as *;

@font-face {
  font-family: "dream_orphanage";
  src: url(./assets//Font/dream_orphanage/dream\ orphanage\ rg.otf);
}

// Titre style

.title-h1 {
  text-decoration: underline;
  text-decoration-color: $text-color-black;
}
.title-sous-categorie {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: $title-color;
}

// Bouton style

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.button-style {
  cursor: pointer;
  border-radius: 25px;
  width: 100px;
  height: 30px;
  background-color: $title-color;
  color: $text-color-white;
}

// Vidéos custom

.container-sous-categorie {
  display: flex;
  justify-content: center;

  iframe {
    width: 70vw;
    max-height: auto;
  }
}
// Slider custom

.slick-list {
  height: 425px !important;
}

.slick-next {
  right: 9vw !important;
}
.slick-prev {
  left: 1.5vw !important;
  position: absolute !important;
  z-index: 16 !important;
}
.slick-prev:before,
.slick-next:before {
  color: $title-color !important;
  font-size: 2rem !important;
  position: absolute !important;
  top: -6vh;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  font-size: 4.6rem;
  text-align: center;
  background: none;
  font-weight: bolder;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.video-unavailable {
  opacity: 0.5;
  pointer-events: none;
}

.container-sous-categorie-unavailable {
  display: flex;
  justify-content: center;
  iframe {
    width: 70vw;
    max-height: auto;
  }
}

// Responsive adjustments
@media only screen and (min-width: 1080px) {
  .container-sous-categorie-unavailable {
    display: flex;
    justify-content: center;
    iframe {
      width: 40vw;
      max-height: auto;
    }
  }
}

@media only screen and (min-width: 1080px) {
  // Vidéos custom responsive

  .container-sous-categorie {
    display: flex;
    justify-content: center;

    iframe {
      width: 40vw;
      max-height: auto;
    }
  }
  // Slider custom responsive

  .slick-next {
    right: 27.5vw !important;
  }
  .slick-prev {
    left: 25vw !important;
  }
  .slick-prev:before,
  .slick-next:before {
    color: $title-color !important;
    font-size: 3rem !important;
    top: -4vh !important;
  }
}
