@font-face {
  font-family: "dream_orphans";
  src: url(./assets//Font/dream_orphans/dream_orphans.otf);
}
@font-face {
  font-family: "Nauman";
  src: url(./assets//Font/nauman/Nauman-Regular.ttf);
}

$background-color-light: #ffffff;
$background-color-dark: #06192b;
$color-aside-admin: #d3b7a1;
$title-color: #ff7105;
$text-color-black: #000000;
$text-color-white: #ffffff;
$text-color-red: #e80e24;
$arrow-color: #f76b00;
$font-title: "dream_orphanage";
$font-text: "Nauman";
$admin-color: #d3b7a1;
